<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.co.example.firebaseregister">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseRegister"
        tools:targetApi="31">

        <!-- SplashActivity 설정 (앱의 시작 화면으로 설정) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity 설정 -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>

        <!-- LoginActivity 설정 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>

        <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- CategoryActivity 설정 추가 -->
        <activity
            android:name=".CategoryActivity"
            android:exported="true"/>

        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".TimerActivity"
            android:exported="true"/>

        <receiver
            android:name=".ResetReceiver"
            android:exported="true" />
    </application>
</manifest>
